{% extends 'base-backend.html.twig' %}

{% block title %}Tous les livres{% endblock %}

{% block body %}
{# Ajout pour les messages flash #}
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Tous les livres</h1>
    <a href="{{ path('app_admin_livre_new') }}" class="btn btn-info"><i class="align-middle" data-feather="plus-circle"></i></a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>ImageName</th>
                <th>Slug</th>
                <th>UpdatedAt</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.description|raw }}</td>
                <td>{{ livre.imageName }}</td>
                <td>{{ livre.slug }}</td>
                <td>{{ livre.updatedAt ? livre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}" class="btn btn-warning mb-1"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
